<br><br><br><br><br>
<div class="container">
  <div class='col-md-8 col-md-offset-2'>
    <div class='message-show'>
      <p>
       <h2><%= @message.title %></h2>
       <p><%= @message.description %></p>
     </p>
     <h3>Comments</h3>
     <%= render @message.comments %>
     <p>
      <a class='btn-custom'<%= link_to 'New Comment',
      new_message_comment_path(@message) %></a>
    </p>
    <%= link_to 'Back', messages_path %>
  </div>
</div>
</div>
