
<div class="container">
  <%= form_for(@user) do |f| %>
    <div class="header">
      <h3>New User Sign Up</h3>
      <p>Please fill out the form</p>
    </div>
    <div class="sep"></div>
    <div class="inputs">
      <%= f.text_field :first_name, placeholder: 'First Name', autofocus: true%>
      <%= f.text_field :last_name, placeholder: 'Last Name' %>
      <%= f.email_field :email, placeholder:'Email' %><%= f.email_field :email_confirmation, placeholder:'Email Confirmation' %>
      <%= f.password_field :password, placeholder:'Password' %>
      <%= f.password_field :password_confirmation, placeholder:'Password Confirmation' %>
      <%= f.text_field :address, placeholder: 'Address' %>
      <%= f.text_field :zip, placeholder: 'Zip Code' %>
      <%= f.submit'Submit', class: "login" %>
    </div>
  <% end %>
</div>

